
{% extends 'basefront.html.twig' %}



{% block bodysection %}
    <div class="container">
    	<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
		<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i>
</div>

<h2 class="fw-bolder">Créer votre compte !</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p></div>
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
              

                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.photo) }}
                        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.diplome) }}
                        {{ form_widget(form.diplome, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.datediplome, 'Date diplome' ) }}
                        {{ form_widget(form.datediplome, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.entreprise) }}
                        {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.experience) }}
                        {{ form_widget(form.experience, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.domaine) }}
                        {{ form_widget(form.domaine, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.poste) }}
                        {{ form_widget(form.poste, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="d-grid"><button class="btn btn-primary btn-lg>{{ form_widget (form.save)  }} </button></div>
                   
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}