<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Postuli.tn {% endblock %}</title>
        <!-- Logoicon-->
        <link rel="icon" type="image/x-icon" href="{{asset('assets/logo.ico')}}" />
        <!-- Bootstrap icons-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" /> 
        <!-- Core theme CSS (includes Bootstrap)-->
         <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}" / >
        {%block css%}
        <link href="{{asset('css/style.css')}}" rel="stylesheet" />
        {%endblock%}
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar" >
            <div class="container px-">
                <a href="index.html"><img class="logocss" src="{{asset('assets/img/logowhite.png')}}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
                </div>
            </div>
        </nav>
        
  <section class="bg-light py-5">
        
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">



{% block bodysection %}
    <div class="container">
    	<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
		<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i>
</div>

<h2 class="fw-bolder">Créer votre compte !</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p></div>
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
              

                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.photo) }}
                        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.diplome) }}
                        {{ form_widget(form.diplome, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.datediplome, 'Date diplome' ) }}
                        {{ form_widget(form.datediplome, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.entreprise) }}
                        {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.experience) }}
                        {{ form_widget(form.experience, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.domaine) }}
                        {{ form_widget(form.domaine, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.poste) }}
                        {{ form_widget(form.poste, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="d-grid"><button class="btn btn-primary btn-lg>{{ form_widget (form.save)  }} </button></div>
                   
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}