{% extends 'baseback.html.twig' %}

{% block content %}
<div >
    
    <div style="margin-bottom:100px; margin-left:20px;">
    <h1> Ajout de secteurs </h1>
    <div >
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}}) }}
        <div class="form-floating mb-3">
            <div>{{ form_label(form.description) }}</div>
            <div>{{ form_widget(form.description) }}</div>
            <div><li class='invalid-form-field'>{{ form_errors(form.description) }}</li></div>
        </div>
<div>
    {{ form_widget(form.save, {'label': 'Save', 'attr': {'class': 'btn btn-primary btn-lg'}}) }}
</div>
    </div>
    {{ form_end(form) }}
{% endblock %}
