{% extends 'baseback.html.twig' %}

{% block content %}
	<div>
		<div class="text-center mb-5">
			<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
				<i class="bi bi-envelope"></i>
			</div>
			<h2 class="fw-bolder">Ajouter un rôle !</h2>

		</div>

		{{form_start (form)}}
		<div class="form-floating mb-3">
			<div class="form-control">
				<label>
					{{form_label (form.description)}}
				</label>

				{{ form_widget (form.description) }}
				{{ form_errors (form.description) }}

			</div>

			<div class="d-grid">
				<button class="btn btn-primary btn-lg" style="margin_left: 50px;" {{ form_widget (form.save) }}></button>
			</div>
			{{form_end (form)}}

		</div>
	{% endblock %}
