<div>
	Nom
</div>
{{ form_widget (form.nom) }}
{{ form_errors (form.nom) }}
<div>
	Prénom
</div>
{{ form_widget (form.prenom) }}
{{ form_errors (form.prenom) }}
<div>
	Email
</div>
{{ form_widget (form.email) }}
{{ form_errors (form.email) }}
<div>
	Téléphone
</div>
{{ form_widget (form.tel) }}
{{ form_errors (form.tel) }}
<div>
	Adresse
</div>
{{ form_widget (form.adresse) }}
{{ form_errors (form.adresse) }}
<div>
	Date de naissance
</div>
{{ form_widget (form.datenaissance) }}
{{ form_errors (form.datenaissance) }}
<div>
	Rôle
</div>
{{ form_widget (form.idrole) }}
{{ form_errors (form.idrole) }}
{{ form_widget (form.save) }}
