<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Postuli.tn {% endblock %}</title>
        <!-- Logoicon-->
        <link rel="icon" type="image/x-icon" href="{{asset('assets/logo.ico')}}" />
        <!-- Bootstrap icons-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" /> 
        <!-- Core theme CSS (includes Bootstrap)-->
         <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}" / >
        {%block css%}
        <link href="{{asset('css/style.css')}}" rel="stylesheet" />
        {%endblock%}
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar" >
            <div class="container px-">
                <a href="index.html"><img class="logocss" src="{{asset('assets/img/logowhite.png')}}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
                </div>
            </div>
        </nav>
        
  <section class="bg-light py-5">
        
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">

{%block bodysection%}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
	<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i></div><h2 class="fw-bolder">Inscription</h2><p class="lead mb-0">Veuillez remplir ces champs</p></div><div class="row gx-5 justify-content-center"><div class="col-lg-6">

<div>

	{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}}
	) }}


	<label class="fw-bolder">
		{{ form_label (form.nom, 'Nom')  }}
	</label>
	{{ form_widget (form.nom, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.nom)  }}</p>


	<label class="fw-bolder">
		{{ form_label (form.prenom, 'Prénom')  }}
	</label>
	{{ form_widget (form.prenom, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.prenom)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.email, 'Email')  }}
	</label>
	{{ form_widget (form.email, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.email)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.adresse, 'Adresse')  }}
	</label>
	{{ form_widget (form.adresse, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.adresse)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.datenaissance, 'Date de naissance')  }}
	</label>
	{{ form_widget (form.datenaissance, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.datenaissance)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.tel, 'Numéro de téléphone')  }}
	</label>
	{{ form_widget (form.tel, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.tel)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.mdp, 'Mot de passe')  }}
	</label>
	{{ form_widget (form.mdp, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.mdp)  }}</p>

	<label class="fw-bolder">
		{{ form_label (form.idrole, 'Rôle')  }}
	</label>
	{{ form_widget (form.idrole, {'attr': {'class': "form-control mb-3"}})  }}
	<p class="lead mb-0 invalid-form-field">{{ form_errors (form.idrole)  }}</p>

</div>

<div class="d-grid">{{ form_widget (form.save, {'attr': {'class': "btn btn-primary btn-lg"}})  }}
</div>
{{ form_end (form)  }}</div></div>{%endblock%}
