{% extends 'basefront.html.twig' %}


{%block bodysection%}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
	<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i></div><h2 class="fw-bolder">Inscription</h2><p class="lead mb-0">Veuillez remplir ces champs</p></div><div class="row gx-5 justify-content-center"><div class="col-lg-6">

<div>

	{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}}
	) }}


	<label class="fw-bolder">
		{{ form_label (form.nom)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.nom)  }}
		<p class="lead mb-0">{{ form_errors (form.nom)  }}</p>
	</div>


	<label class="fw-bolder">{{ form_label (form.prenom)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.prenom)  }}
		<p class='invalid-form-field'>{{ form_errors (form.prenom)  }}</p>
	</div>

	<label class="fw-bolder">{{ form_label (form.email)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.email)  }}
		<p class="invalid-form-field">{{ form_errors (form.email)  }}
		</p>
	</div>
	<label class="fw-bolder">{{ form_label (form.adresse)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.adresse)  }}
		<p class="invalid-form-field">{{ form_errors (form.adresse)  }}
		</p>
	</div>
	<label class="fw-bolder">{{ form_label (form.datenaissance)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.datenaissance)  }}
		<p class="invalid-form-field">{{ form_errors (form.datenaissance)  }}
		</p>
	</div>
	<label class="fw-bolder">{{ form_label (form.tel)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.tel)  }}
		<p class="invalid-form-field">{{ form_errors (form.tel)  }}
		</p>
	</div>

	<label class="fw-bolder">{{ form_label (form.idrole)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.idrole)  }}
		<p class="invalid-form-field">{{ form_errors (form.idrole)  }}
		</p>
	</div>
	<label class="fw-bolder">{{ form_label (form.mdp)  }}
	</label>
	<div class="form-control mb-3">
		{{ form_widget (form.mdp)  }}
		<p class="invalid-form-field">{{ form_errors (form.mdp)  }}
		</p>
	</div>


	<div class="d-grid">
		<button class="btn btn-primary btn-lg" {{ form_widget (form.save) }}></button>
	</div>
	{{ form_end (form)  }}
</div></div>{%endblock%}
