{% extends 'basefront.html.twig' %}
{%block css%}
<link href="{{asset('css/style.css')}}" rel="stylesheet"/>
<link href="{{asset('css/quizlist.css')}}" rel="stylesheet"/>
<link href="{{asset('css/detailscontainer.css')}}" rel="stylesheet"/>
{%endblock%}
{%block bodysection%}
<div class="container px-5 my-5 px-5"  style="margin-top:-50px !important;">
 <div class="text-center mb-5">
<div class="feature rounded-3 mb-3 bg-dark">
	<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px">
</div><h2 class="fw-bolder">Quiz</h2><p class="lead mb-0">Testez vos connaissances ! </p>
</div>

<div style="margin-top:-50px !important;">

<div class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4"></div>
		

	
		

<ol class="olq" style="--length: {{list|length}}" role="list">
	{% for q in list %}
		<li class="liq" style="--i: 1">
			<h3>Quiz {{q.specialite}}</h3>
			<a class="custom-btn aq" href={{path('quizQuestions', {'id':  q.id})}} >Passer le quiz</a>
		</li>
	{% endfor %}
</ol>
</div>
{%endblock%}

