
{% extends 'basefront.html.twig' %}
{%block css%}
<link href="{{ asset('css/style.css')}}" rel="stylesheet" />
<link href="css/table.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}" / >
{%endblock%}
{%block bodysection%}

	<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
		<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i>
</div>

<h2 class="fw-bolder">Postuler !</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p></div>
<div class="row gx-5 justify-content-center">
<div class="col-lg-6">

{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}} ) }}

 <label class="fw-bolder">{{ form_label (form.cv, "Curriculum vitæ")  }} </label>
 <div class="form-control" style="margin-bottom: 20px !important;">
{{ form_widget (form.cv)  }} 
<p >{{ form_errors (form.cv) }}</p>
 </div>
 

 <label class="fw-bolder">{{ form_label (form.lettre, "Lettre de motivation")  }} </label>

<div class="form-control">
 {{ form_widget (form.lettre)  }} 
 <p class="invalid-form-field">{{ form_errors (form.lettre)  }} </p>
 </div >


 <div class="d-grid" style="margin-top:20px !important;"><button class="btn btn-primary btn-lg"  {{ form_widget (form.save)  }} </button></div>
 {{ form_end (form)  }}
</div>
</div>


{%endblock%}