
{% extends 'basefront.html.twig' %}
{%block css%}
<link href="css/style.css" rel="stylesheet" />
<link href="css/table.css" rel="stylesheet" />
{%endblock%}
{%block bodysection%}
<div style="margin-bottom:100px; margin-left:100px;">
<h1> Ajout candidature </h1>
<div >
{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}} ) }}
 <div class="form-floating mb-3">
 {{ form_label (form.cv, "Votre cv")  }} 
 {{ form_widget (form.cv)  }} 

 <li class='invalid-form-field'>{{ form_errors (form.cv, {'attr' : {'class': 'invalid-form-field'}})  }}</li>
 
</div>
<div class="form-floating mb-3">
 <div>{{ form_label (form.lettre, "Votre lettre de motivation")  }} </div>
 <div> {{ form_widget (form.lettre)  }} </div>
 <p class="invalid-form-field">{{ form_errors (form.lettre)  }} </p>
</div>

 <div class="d-grid"><button class="btn btn-primary btn-lg>{{ form_widget (form.save)  }} </button></div>
</div>
{{ form_end (form)  }}
{%endblock%}