{% extends 'basefront.html.twig' %}

{%block css%}
<link href="{{asset('css/style.css')}}" rel="stylesheet"/>
<link href="{{asset('css/detailscontainer.css')}}" rel="stylesheet"/>
{%endblock%}

{%block bodysection%}


	{#<div class="row gx-5 justify-content-center">
						<div
							class="col-lg-6" style="width:100% !important;">
							<!-- Testimonial 1-->
							<div class="card mb-4">
								<div class="card-body p-4">
								<h1> Vos candidatures </h1>
								 <h4>Candidat: {{candidat.nom ~ ' '~ candidat.prenom}} </h4>
								 <h6> Total des candidatures: {{count}} </h6>
								</div>
							</div>
						</div>
					</div>
					#}

	<div>
		<div class="parentcol mb-4" style="margin-top: -50px !important;">

			<div>
				
					<div>
						<div>
							<h1 class="job-title mb-3 dark-blue">Vos candidatures</h1>
							<h5>Candidat:
								{{candidat.nom ~ ' '~ candidat.prenom}}
							</h5>

							<div class="job-thumb job-thumb-detail">
								<div class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4" style="text-align:center !important;">

								</div>
							</div>


									
							<h6 style="display: flex; margin-left: 10px !important;">
							
								Filtrer</h6>
								<h6 class="lighter-blue" style="display: flex; margin-left: 10px !important;">
										Total des candidatures:
										{{count}}
									</h6>
							<div class="newcol">

								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'Validée'})}}">Validées</a>
								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'Enregistrée'})}}">Entregistrées</a>
								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'Acceptée'})}}">Acceptées</a>
								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'Refusée'})}}">Refusées</a>
								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'EntretienPres'})}}">Phase d'entretien présentiel</a>
								<a class="btn filterbtn" href="{{path('filterCandidaturesCand', {'etat':'EntretienTel'})}}">Phase d'entretien téléphone</a>
								<a class="btn filterbtn" href="{{path('candidaturesCand')}}">Toutes les candidatures</a>

							</div>
						</div>
					</div>
				
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					'
					{# <a href="{{ path('addCandidature') }}"> Add Candidature</a> #}
				</div>
			</div>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Offre</th>
							<th>Entreprise</th>
							<th>Type de l'offre</th>
							<th>Candidature</th>
							<th>Etat</th>

						</tr>
					</thead>
					<tbody>
						{%for l in list %}
							<tr>
								<td>{{l.idoffre.poste}}</td>
								<td>{{l.idoffre.entreprise}}</td>
								<td>{{l.idoffre.idtype.description}}</td>
								<td>
									<a class="btn" style="background-color:#353D62 !important; color: white !important;" href="{{path('detailsCandidatureCandidat', {'id': l.id})}}">Détails</a>
								</td>
								{% if l.etat|lower == "refusée"%}
									<td>
										<div class="badge" style="background-color:red !important;">{{l.etat}}</div>
									</td>
								{% elseif l.etat|lower == "acceptée" %}
									<td>
										<div class="badge" style="background-color:green !important;">{{l.etat}}</div>
									</td>
								{% else %}
									<td>
										<div class="badge" style="background-color:#0E1947 !important;">{{l.etat}}</div>
									</td>
								{% endif %}
								{#<td>
																																																			<a class="btn btn-primary" href="{{path('updateCandidature',{'id':l.id})}}">Update</a>
																																																			
																																																		</td>
																																																		<td>
																																																			<a class="btn btn-danger" href="{{path('deleteCandidature',{'id':l.id})}}">Delete</a>
																																																		</td>#}


							</tr>
							{%endfor%}</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
