{% extends 'basefront.html.twig' %}

{%block bodysection%}
<h1>
	Candidatures
</h1>
<div class="row gx-5 justify-content-center">
	<div
		class="col-lg-6" style="width:100% !important;">
		<!-- Testimonial 1-->
		<div class="card mb-4">
			<div class="card-body p-4">
				<h2>
					Offre: Développeur junior
				</h2>
				<h4>
					Date d'expiration: 15-04-2023
				</h4>
				<h4>
					Nombre de candidatures reçues: {{count}}
				</h4>
			</div>
		</div>
	</div>
</div>
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom et prénom</th>

					<th>Candidature</th>
					<th>Date de candidature</th>
					<th>Etat</th>
					<th>Valider</th>
					<th>Entretiens</th>
				</tr>
			</thead>
			<tbody>
				{%for l in list %}
					<tr>

						<td>{{l.idcandidat.prenom ~ ' ' ~ l.idcandidat.nom}}</td>
						<td>
							<a class="btn btn-primary" href="{{path('detailsCandidatureRecruteur', {'id': l.id})}}">Détails</a>
						</td>
						<td>{{l.date|date('d-m-Y')}}</td>
						<td>{{l.etat}}</td>
						<td>
							<a class="btn btn-primary" href="{{path('validerCandidature',{'id': l.id})}}">Valider</a>
						</td>
						<td>
							Pas d'entretiens</td>
						{# <td>{{l.idoffre.poste}}</td>#}


					</tr>
					{%endfor%}</tbody>
			</tbody>
		</table>
	</div>
</div>
{#
<table border="1">
    <tr>

    </tr>
        {%for l in list %}

    <tr>

        <td>{{l.id}}</td>

        <td>{{l.cv}}</td>
        
        <td>{{l.lettre}}</td>

        <td>{{l.idcandidat.id}}</td>
        <td>{{l.idcandidat.prenom ~ ' ' ~ l.idcandidat.nom}}</td>
        <td>{{l.idoffre.poste}}</td>
       <td> <a href= {{ path ('createCandidature') }}> delete candidature </a> </td>
        </td>


    </tr>

    {%endfor%}

</table>
#}
<a href="{{ path ('addCandidature') }}">
	Add candidature
</a>

{# to display the pdf 
<object data="http://localhost/postulitn/cv/CV_ZAGHDOUD_Eya.pdf"  type="application/pdf" width="50%" height="50%">
        </object>

#}
{%endblock%}
