{% extends 'baseback.html.twig' %}

{% block title %}Guidesentretiens index{% endblock %}

{% block content %}
<div class="container px-5 my-5 px-5 ">

		   <h1>Les guides d'entretiens</h1>
		<a class="btn btn-primary mb-3" href="{{path('app_guidesentretiens_new')}}">Ajouter un guide</a>
 

    <table class="table">
        <thead>
            <tr>
                <th>Idguide</th>
                <th>Domaine</th>
                <th>Specialite</th>
                              

                <th>Note</th>
                <th>Nombrenotes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for guidesentretien in guidesentretiens %}
                <tr>
                    <td>{{ guidesentretien.idguide }}</td>
                    <td>{{ guidesentretien.domaine }}</td>
                    <td>{{ guidesentretien.specialite }}</td>
                  
                    <td>{{ guidesentretien.note }}</td>
                    <td>{{ guidesentretien.nombrenotes }}</td>
                    <td>
                        <div style="display: flex;">
                            <a href="{{ path('app_guidesentretiens_show', {'idguide': guidesentretien.idguide}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_guidesentretiens_edit', {'idguide': guidesentretien.idguide}) }}" class="btn btn-success" style="margin-left: 1em;">Edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    
{% endblock %}
