{% extends 'basefront.html.twig' %}


{%block bodysection%}


{% block title %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/form.css') }}">


<h1>Créer une offre</h1>

{{ form_start(form) }}
<div class="mb-3">
    {{ form_row(form.poste) }}
</div>
<div class="mb-3">
    {{ form_row(form.description) }}
</div>
<div class="mb-3">
    {{ form_row(form.lieu) }}
</div>
<div class="mb-3">
    {{ form_row(form.entreprise) }}
</div>
<div class="mb-3">
    {{ form_row(form.specialite) }}
</div>
<div class="mb-3">
    {{ form_row(form.dateexpiration) }}
</div>

<div class="form-group">
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Créer l'offre</button>
</div>

{{ form_end(form) }}
{% endblock %}

