{% extends 'basefront.html.twig' %}
{%block css%}
<link href="{{asset('css/style.css')}}" rel="stylesheet"/>
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{%endblock%}
{% block bodysection%}
<h2 class="fw-bolder">Ajouter un nouveau projet</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p>
<div class="row gx-5 justify-content-center">
	<div class="col-lg-6">

		{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}}
		) }}
		<div class="form-floating mb-0">
			<div>
				{{ form_label (form.nom) }}
			</div>
			<div>{{ form_widget (form.nom) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.nom) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.theme) }}
			</div>
			<div>{{ form_widget (form.theme) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.theme) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.description) }}
			</div>
			<div>{{ form_widget (form.description) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.description) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.duree) }}
			</div>
			<div>{{ form_widget (form.duree) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.duree) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.datedebut, "Date de début") }}
			</div>
			<div>{{ form_widget (form.datedebut) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.datedebut) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.datefin, "Date de fin") }}
			</div>
			<div>{{ form_widget (form.datefin) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.datefin) }}</li>
		</div>
		<div class="form-floating mb-0">
			<div>{{ form_label (form.idsecteur, 'Secteur') }}
			</div>
			<div>{{ form_widget (form.idsecteur) }}
			</div>
			<li class='invalid-form-field'>{{ form_errors (form.idsecteur) }}</li>
		</div>
		<div>

			{{ form_widget(form.save, {'label': 'Save', 'attr': {'class': 'btn btn-primary btn-lg'}}) }}
		</div>
	</div>
	{{ form_end (form) }}
</div>{% endblock %}
