{% extends 'basefront.html.twig' %}
{% block bodysection %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div style="margin-top: -50px !important; height: 80% !important;">
		<div style="display: flex;">
			<div style="display: flex;">
				<h2>
					Gérer vos projets freelance</h2>
				<span style="margin-left :500px !important;">
					<a class="btn btn-primary" href="{{ path('addProjets') }}">Ajouter un projet</a>
				</span>
			</div>
		</div>
		<div
			class="row mt-5">
			<!-- Add margin top here for spacing -->
			<div class="col-md-12" style='margin-bottom: 100px !important;'>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Projets</th>
							<th>Thémes</th>
							<th>Durée</th>
							<th>Secteur</th>

						</tr>
					</thead>
					<tbody >
						{% for p in projets %}
							<tr>
								<td>{{p.nom}}</td>
								<td>{{p.theme}}</td>
								<td>{{p.duree}}
									Mois</td>
								<td>{{p.idsecteur.description}}</td>

								<td>
									<a class="btn btn-danger" href="{{path('delete_Projets',{'id':p.idProjet})}}">Supprimer</a>
								</td>
								<td>
									<a class="btn btn-primary" href="{{path('update_Projets',{'id':p.idProjet})}}">Modifier</a>
								</td>
								<td>
									<a class="btn" style="background-color:#353D62 !important; color: white !important;"  href="{{path('detailsProjetRecruteur', {'id': p.idProjet})}}">Détails</a>
								</td>

							</tr>
							{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
