       {% extends 'basefrontanimation.html.twig' %}
       {% block title %}Project details{% endblock %}
       {% block content %}
        <!-- job post company Start -->
        <div class="job-post-company pt-50 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{p.nom}}</h4>
                                    </a>
                                    <ul>
                                        <li>{{p.theme}}</li>
                                        <li><i class="fas fa-clock"></i>{{p.duree}} Mois</li>
                                        <li>{{p.idsecteur.description}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle" style = "position:relative; left:60px;">
                                    <h4>Job Description</h4>
                                
                                <p> {{p.description}} </p>
                      </div>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Date debut : <span>12 Aug 2019</span></li>
                              <li>Date de fin : <span>18 Aug 2019</span></li>
                              <li>Durée : <span>02</span></li>
                              <li>Théme : <span>BI </span></li>
                              <li>Secteur :  <span>informatique</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <!--<a href="#" class="btn">Apply Now</a>-->
                            <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm shadow-none" type="button">Apply now</button>
                             </div>
                         </div>
                       </div>
                        
                    </div>
                </div>
            </div>
       
        <!-- job post company End -->

          <!-- Comment section -->
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                        <div class="d-flex flex-column justify-content-start ml-2">
                        <span class="d-block font-weight-bold name">Nom de l'utilisateur</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur 
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                      ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        
                        
                    </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
  
   {% endblock %}