{% extends 'basefront.html.twig' %}


{%block bodysection%}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
		<img class="logocss" src="{{asset('assets/img/logowhite.png')}}" style="width: 70px; height:80px"></i>
</div>
<h2 class="fw-bolder">Planifier un entretien</h2>
<p class="lead mb-0">Veuillez remplir ces champs</p></div>
<div class="row gx-5 justify-content-center">
<div class="col-lg-6">

<div >

{{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'contactForm'}} ) }}

 
<label class="fw-bolder"> {{ form_label (form.type)  }} </label>
<div class="form-control mb-3" >
 {{ form_widget (form.type)  }} 
 <p class="lead mb-0">{{ form_errors (form.type)  }}</p>
</div>
 

 <label class="fw-bolder">{{ form_label (form.date, "Date")  }} </label>
 <div class="form-control mb-3" >
{{ form_widget (form.date)  }} 
 <p class='invalid-form-field'>{{ form_errors (form.date)  }}</p>
</div>

 <label class="fw-bolder">{{ form_label (form.heure, "Horaire")  }} </label>
  <div class="form-control mb-3" >
 {{ form_widget (form.heure)  }}
 <p class="invalid-form-field">{{ form_errors (form.heure)  }} </p>
</div>

 <label class="fw-bolder" style=" margin-bottom: -100px !important;">{{ form_label (form.lieu, "Lieu")  }} </label>
 <div class="form-control mb-3" >
 <div> {{ form_widget (form.lieu)  }} </div>
 <p class="invalid-form-field">{{ form_errors (form.lieu)  }} </p>
</div>


 <label class="fw-bolder">{{ form_label (form.idguide, 'Guide d\'entretien')  }} </label>
<div class="form-control mb-3" >
 <div> {{ form_widget (form.idguide)  }} </div>
 <p class="invalid-form-field">{{ form_errors (form.idguide)  }} </p>
</div>

 <div class="d-grid"><button class="btn btn-primary btn-lg>{{ form_widget (form.save)  }} </button></div>

{{ form_end (form)  }}
</div>
</div>
{%endblock%}