{% extends 'basefront.html.twig' %}

{%block css%}
<link href="{{asset('css/style.css')}}" rel="stylesheet"/>
<link href="{{asset('css/detailscontainer.css')}}" rel="stylesheet"/>

{%endblock%}

{%block bodysection%}

<div>

	<div class="parentcol mb-4" style="margin-top: -70px !important;">


		<h1 class="job-title mb-2 dark-blue">
			Entretiens
		</h1>
		<span>
			<h5 class="job-title mb-2 dark-blue">
				{{candidat.nom ~ ' ' ~ candidat.prenom}}
			</h5>
		</span>
		<h6 class="lighter-blue">
			Total des entretiens planifiés:
			{{count}}
		</h6>
		<a href="{{path('entretiensCalendar', {'role': 'candidat', 'id': candidat.id})}}" class="btn filterbtn" style="color:#1E9DFF!important;display:flex !important; flex-direction: column-reverse;">Mon calendrier</a>


		<div class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4"></div>
		
		<h6 style="display: flex; margin-left: 10px !important;"> Filtrer</h6>
		<div class="newcol" >
		<a class="btn filterbtn"  href="{{path('filterEntretiensCand', {'filter':'today'})}}"><i class="custom-icon bi-clock me-1"></i>Ajourd'hui</a>
		<a class="btn filterbtn"  href="{{path('filterEntretiensCand', {'filter':'thisweek'})}}"><i class="custom-icon bi-clock me-1"></i>Cette semaine</a>
		<a class="btn filterbtn"  href="{{path('filterEntretiensCand', {'filter':'thismonth'})}}"><i class="custom-icon bi-clock me-1"></i>Ce mois</a>
		<a class="btn filterbtn"  href="{{path('entretiensCandidat')}}"><i class="custom-icon bi-clock me-1"></i>Tous les entretiens</a>
	
		</div>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type de l'entretien</th>
						<th>Date</th>
						<th>Horaire</th>
						<th>Lieu</th>
						<th>Offre</th>
						<th>Guide de l'entretien</th>
						<th>Résultat</th>
						<th>Candidature</th>

					</tr>
				</thead>
				<tbody>
					{%for l in list %}
						<tr>
							<td>{{l.type}}</td>
							<td>{{l.date|date('d-m-Y')}}</td>
							<td>{{l.heure}}</td>
							<td>{{l.lieu}}</td>
							<td>{{l.idcandidature.idoffre.poste}}</td>
							<td>
								<a class="btn" style="background-color:#353D62 !important; color: white !important;" href="#">Ouvrir le guide:
									{{l.idguide.specialite}}</a>
							</td>
							{% if l.idcandidature.etat|lower== "refusée" %}
								<td style="background-color: red !important; color: white !important;">Candidature refusée
								</td>
							{% elseif l.idcandidature.etat|lower== "acceptée" %}
								<td class="badge" style="background-color: green !important; color: white !important;">Candidature acceptée</td>
								{%else%}
								<td>
									<div class="badge" style="background-color:#0E1947 !important; color: white !important;">En attente</div>
								</td>
							{% endif %}
							<td>
								<a class="btn" style="background-color:#353D62 !important; color: white !important;" href="{{path('detailsCandidatureCandidat', {'id': l.idcandidature.id})}}">Ouvrir</a>
							</td>


						</tr>
						{%endfor%}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
	{#
				
				<a href="{{ path ('addEntretien') }}">
					Add entretien
				</a>
				#}


</div>


{%endblock%}
