{% extends 'basefront.html.twig' %}

{%block css%}
<link href="css/style.css" rel="stylesheet"/>
<link href="css/table.css" rel="stylesheet"/>

{%endblock%}

{%block bodysection%}


<div class="row" >
	
	{#<ul class="responsive-table">
	    <li class="table-header">
	      <div class="col col-1"> Type </div>
	      <div class="col col-2"> Date </div>
	      <div class="col col-3"> Horaire </div>
	      <div class="col col-4"> Offre </div>
	      
	    </li>
	    
	        {%for l in list %}
	           <li class="table-row">
	    
	
	        <div class="col col-1">{{l.type}}</div>
	
	        <div class="col col-2"> {{l.date|date('Y-m-d')}}</div>
	        
	        <div class="col col-3"> {{l.heure}}</div>
	       
	        <div class="col col-4">{{l.idcandidature.idoffre.poste}}<span><a href=""> >> </a></span></div>
	        
	       
	        </li>
	
	    {%endfor%}
	
	</ul>
	#}


	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<div class="row gx-5 justify-content-center">
	<div
		class="card" style="width:100%; margin-bottom: 20px !important;">
		<!-- Testimonial 1-->
		<div>
		<h1>
		Entretiens
	</h1>
			<div class="card-body p-4">
			 <h4>Recruteur: {{recruteur.nom ~ ' ' ~ recruteur.prenom}} </h4>
			 <h6> Total des entretiens à venir: {{count}} </h6>
			 <a href="{{path('readCandidatures')}}" class="btn" style="background-color:#353D62 !important; color: white !important;">Planifier un nouvel entretien</a>
			</div>
		</div>
	</div>
</div>


	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Horaire</th>
						<th>Type d'entretien</th>
						<th>Candidat</th>
						<th>Offre</th>
						<th>Candidature</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{%for l in list %}
						<tr>
							<td>{{l.date|date('d-m-Y')}}</td>
							<td>{{l.heure}}</td>
							<td>{{l.type}}</td>
							<td>{{l.idcandidature.idcandidat.nom ~ ' '~ l.idcandidature.idcandidat.prenom}}</td>
							<td>{{l.idcandidature.idoffre.poste}}</td>
							<td>
								<a class="btn" style="background-color:#353D62 !important; color: white !important;" href="{{path('detailsCandidatureRecruteur', {'id': l.idcandidature.id})}}">Ouvrir</a>
							</td>
							<td>
								<a class="btn btn-primary"  href="{{path('updateEntretien', {'id':l.id})}}">Modifier</a>
							</td>
							<td>
								<a class="btn btn-danger"  href="{{path('deleteEntretien', {'id':l.id})}}">Supprimer</a>
							</td>


						</tr>
						{%endfor%}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
	{#
	
	<a href="{{ path ('addEntretien') }}">
		Add entretien
	</a>
	#}


</div>


{%endblock%}
