{% extends 'basefront.html.twig' %}

{%block css%}
<link href="{{asset('css/style.css')}}" rel="stylesheet" />
<link href="{{asset('css/detailscontainer.css')}}" rel="stylesheet" />

{%endblock%}


{%block bodysection%}


<div class="parentcol mb-4">
	
		
		<div>
		<h1 class="job-title mb-2 dark-blue" style="margin-top: -70px !important;">
		Entretiens	</h1> <span > <h5 class="job-title mb-2 dark-blue"> {{recruteur.nom ~ ' ' ~ recruteur.prenom}} </h5></span>

			
			 
			 <h6 class="lighter-blue"> Total des entretiens planifiés: {{count}} </h6>  
			
			 <a href="{{path('readCandidatures')}}" class="btn filterbtn" style="background-color:#353D62 !important; color: white !important; display:flex !important; flex-direction: column-reverse;">Planifier un nouvel entretien</a>
			 <a href="{{path('entretiensCalendar', {'role': 'recruteur', 'id': recruteur.id})}}" class="btn filterbtn" style="color:#1E9DFF!important;display:flex !important; flex-direction: column-reverse;">Mon calendrier</a>

			 <div class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4"></div>
			 <h6 style="display: flex; margin-left: 10px !important;"> Filtrer</h6>
		<div class="newcol" >
		<a class="btn filterbtn"  href="{{path('filterEntretiensRec', {'filter':'today'})}}"><i class="custom-icon bi-clock me-1"></i>Ajourd'hui</a>
		<a class="btn filterbtn"  href="{{path('filterEntretiensRec', {'filter':'thisweek'})}}"><i class="custom-icon bi-clock me-1"></i>Cette semaine</a>
		<a class="btn filterbtn"  href="{{path('filterEntretiensRec', {'filter':'thismonth'})}}"><i class="custom-icon bi-clock me-1"></i>Ce mois</a>
		<a class="btn filterbtn"  href="{{path('readEntretiens')}}"><i class="custom-icon bi-clock me-1"></i>Tous les entretiens</a>
		
		</div>
			
			
		</div>
	
</div>


	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Horaire</th>
						<th>Type d'entretien</th>
						<th>Candidat</th>
						<th>Offre</th>
						<th>Candidature</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{%for l in list %}
						<tr>
							<td>{{l.date|date('d-m-Y')}}</td>
							<td>{{l.heure}}</td>
							<td>{{l.type}}</td>
							<td>{{l.idcandidature.idcandidat.nom ~ ' '~ l.idcandidature.idcandidat.prenom}}</td>
							<td>{{l.idcandidature.idoffre.poste}}</td>
							<td>
								<a class="btn" style="background-color:#353D62 !important; color: white !important;" href="{{path('detailsCandidatureRecruteur', {'id': l.idcandidature.id})}}">Ouvrir</a>
							</td>
							<td>
								<a class="btn btn-primary"  href="{{path('updateEntretien', {'id':l.id})}}">Modifier</a>
							</td>
							<td>
								<a class="btn btn-danger"  href="{{path('deleteEntretien', {'id':l.id})}}">Supprimer</a>
							</td>


						</tr>
						{%endfor%}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
	{#
	
	<a href="{{ path ('addEntretien') }}">
		Add entretien
	</a>
	#}




{%endblock%}
